# Ignore SQLite database files
*.db

# Ignore node_modules directory
node_modules/

# Ignore logs
*.log

# Ignore environment files
.env

# Ignore any build output
/dist
/build

# Ignore IDE/Editor specific files
.vscode/
.idea/
*.swp
*.swo

# Ignore OS-specific files
.DS_Store
Thumbs.db
