{
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-organize-imports"],
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": false,
  "svelteIndentScriptAndStyle": true
}
